[submodule "glm"]
	path = externals/glm
	url = git@github.com:g-truc/glm.git
[submodule "glfw"]
	path = externals/glfw
	url = git@github.com:glfw/glfw.git
[submodule "spdlog"]
	path = externals/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "VulkanMemoryAllocator"]
	path = externals/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "stb"]
	path = externals/stb/stb
	url = git@github.com:nothings/stb.git
[submodule "tinygltf"]
	path = externals/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "simdjson"]
	path = externals/simdjson
	url = git@github.com:simdjson/simdjson.git
