[submodule "glm"]
	path = externals/glm
	url = git@github.com:g-truc/glm.git
[submodule "glfw"]
	path = externals/glfw
	url = git@github.com:glfw/glfw.git
[submodule "spdlog"]
	path = externals/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "VulkanMemoryAllocator"]
	path = externals/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "stb"]
	path = externals/stb/stb
	url = git@github.com:nothings/stb.git
[submodule "simdjson"]
	path = externals/simdjson
	url = git@github.com:simdjson/simdjson.git
[submodule "externals/base64"]
	path = externals/base64
	url = git@github.com:aklomp/base64.git
[submodule "getopt"]
	path = externals/getopt/getopt
	url = git@github.com:Chunde/getopt-for-windows.git
